/*header*/

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    position: relative;
}

.navitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
}

nav a {
    color: inherit;
    /* 移除超連結顏色 */
    font-size: 1.2rem;
    text-decoration: none;
    /* 移除超連結底線 */
}