.header {
    height: 20%;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
   
    

}

.login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    
    font-family: "微軟正黑體",sans-serif;
    border: solid 1px;
    width: 25%;
}
.login i{
    font-size: 100px;
    margin: 20px auto;
}
input[type="text"] {
    font-size: 16px;
    font-family: "微軟正黑體",sans-serif;
    padding: 5px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: 100%;
}
button {
    border: 0;
    padding: 4px 8px;
    margin: 20px auto;
    font-size: 18px;
    font-family: "微軟正黑體",sans-serif;
    color: #000;
}
@media(max-width:45px){
    .login {
        width: 70%;
    }
}